@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Jelia.xyz</h1>
    <p>If your not sure, :  <a href="https://google.com"> Google It!</a></p>
    <p>Learn   Microsot  :  <a href="https://docs.microsoft.com/aspnet/core">.Net  core</a></p>
    <br />
    All rights reserved: jelia.xyz 2020


</div>
